!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="/main.css")
    %link(rel="stylesheet" type="text/css" href="/jquery-ui.css")
    %script(src='/jquery-1.9.1.js')
    %script(src='/jquery-ui.js')
    %script(src='/rssreader.js')
  %body
    %h1
      %a(title="home" href="/")= settings.name
    #nav
      - @feeds.each_with_index do |feed, i|
        .feedTitle 
          %img{src: "#{feed["url"]}/favicon.ico", width: "16px"}
          %a{:href => "/entries/#{i}"}= feed["title"]
          %br
          .feedDescription
            = feed["description"]
    #content
      #accordion
        - @entries.each do |entry|
          %h3
            .entryTitle
              = "#{entry["title"]}"
            .entryDate
              = "#{entry["published"]}"
          .itemContent
            = entry["content"]
    %footer
      %small @ Copyright #{settings.author} #{Time.now.year}. All Rights Reserved.